name: Deploy to Amazon Linux 2023

on:
  push:
    branches:
      - main  # Only deploy when you push to main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 1: Upload files to the home directory
      - name: Copy files via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          source: "."
          # This puts everything inside /home/ec2-user/app
          target: "/home/ec2-user/app" 
          strip_components: 0